{% extends 'base.html'%} 
{% block styles %}
 {{super()}}
 <link href="{{url_for('static',filename='css/index.css')}}" rel="stylesheet" />
{% endblock %}

{% block content%}

<div class="card quote">
    <div class="card-body bg-dark ">
      <h3 class="card-title text-center">Quotzz</h3>
      <p ><strong>Quote:</strong>{{quote.quote}}</p>
      <small><strong>Author:</strong>{{quote.author}}</small>
    </div>
  </div>
  <div class="card" style="width: 18rem;">

    {% for blog in blog %}
    <div class="card-body">
      <h5 class="card-title"><a href="{{url_for('main.blog',blog_id = blog.id)}}" >{{ blog.title}}</a></h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p>{{ blog.content|safe }}</p>
      <p><b>{{ blog.author }}</b></p>
      <p class="panel-text"><strong>Created on: <span class="badge rounded-pill bg-warning text-dark">
        {{ blog.date_created.strftime("%m/%d/%Y")}}</span></strong> </p>
        <a href="{{ url_for('main.comments', blog_id = blog.id)}}">comment</a>
    </div>
    {% endfor %}
  </div>


  <div class="container " id="footer">
    <div class="row">
      <div class="col-md-12">
        <div class="container text-center" id="socials">
          <p><b>oderohk@gmail.com</b></p>
          <p><b>&copy; 2022</b></p>
          <p><b>Made with<span class="fa fa-heart" style="color: red;" aria-hidden="true"></span></b></p>
        </div>
      </div>
    </div>
  </div>
{% endblock%}
